<% datas.forEach(function (data) { %>
    <div class="mjpc-tag<%= data.modifier ? ' mjpc-tag--' + data.modifier : ''; %>">
        <%- include('./icon', {datas: [{
        items: [{
        name: data.icon
        }]
        }]}); %>
        <ul class="mjpc-tag__inner">
            <% data.items.forEach(function (item, key) { %>
                <li class="mjpc-tag__item">
                    <% if (data.modifier === 'toggle') { %>
                        <input type="checkbox" name="mjplTag" id="mjpIdTag<%= key %>" class="mjpc-tag__input"<%= item.active ? ' checked' : ''; %>>
                        <label for="mjpIdTag<%= key %>" class="mjpc-tag__label"><%= item.name %></label>
                    <% } else if (data.modifier === 'images' ) { %>
                        <img src="<%= item.image %>" alt="<%= item.name %>" class="mjpc-tag__image">
                    <% } else { %>
                        <span class="mjpc-tag__label<%= item.active ? ' is-active' : ''; %>"><%= item.name %></span>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </div>
<% }); %>