<%
var srcPath = '../../';
%>
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>monoweb.jp</title>
    <%- include('../../partials/head'); %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="mjpl-page">
    <%- include(srcPath + 'partials/header'); %>
    <main id="app">
        <h1 class="mjpc-heading mjpc-heading--lv1 mjpu-taCenter">サービス内容</h1>
        <p class="mjpc-paragraph mjpu-fsS mjpu-taCenter">主にお受けしていること</p>
        <div class="mjpc-grid">
            <div class="mjpc-grid__inner">
                <div class="mjpc-grid__col4">
                    <img src="/img/dummy-600x400.png" alt="">
                    <h2 class="mjpc-heading mjpc-heading--lv3 mjpu-taCenter">サイト設計</h2>
                    <p class="mjpc-paragraph">お客様のご要望やコンセプトを踏まえながら、閲覧者に使いやすいWebサイトを設計します。PC、スマートフォンそれぞれの特徴や利用状況も併せて調査・検討いたします。サイトの技術的なご相談にも対応しております。</p>
                </div>
                <div class="mjpc-grid__col4">
                    <img src="/img/dummy-600x400.png" alt="">
                    <h2 class="mjpc-heading mjpc-heading--lv3 mjpu-taCenter">デザイン</h2>
                    <p class="mjpc-paragraph">設計内容からトップページやナビゲーションメニューなど、全体のUIをデザインいたします。また各ページのコンテンツ素材制作、タイポグラフィを必要とするバナーなど、細部のデザインにも対応いたします。</p>
                </div>
                <div class="mjpc-grid__col4">
                    <img src="/img/dummy-600x400.png" alt="">
                    <h2 class="mjpc-heading mjpc-heading--lv3 mjpu-taCenter">実装</h2>
                    <p class="mjpc-paragraph">デザインを変化させるレスポンシブ対応や、CSSによる表現の幅が広がったことで、デザインとコーディングの境界線がなくなっています。一貫して対応することで、効率よくWebサイトを構築できます。</p>
                </div>
            </div>
        </div>
        <p class="mjpc-paragraph mjpu-taCenter">法人の方・個人の方問わず承っております、<br>
            まずはお気軽にご相談ください。</p>
        <%- include(srcPath + 'objects/components/button', {data: [ {
        link: true,
        name: 'サイト制作のご相談はこちら',
        func: '/contact/'
        }]}) %>
        <h2 class="mjpc-heading mjpc-heading--lv1 mjpu-taCenter">同業制作会社・フリーランスの方へ</h2>
        <p class="mjpc-paragraph mjpu-fsS mjpu-taCenter">同業の方からのご依頼もお受けしております。<br>
            お手伝いできそうなことがありましたらお気軽にご相談ください。</p>
        <h3 class="mjpc-heading mjpc-heading--lv2">フロントエンド</h3>
        <p class="mjpc-paragraph">
            HTML, CSS, Javascript, PHP, Ruby, Python等であれば対応可能です。API、データベース連携等も承ります。既にデザインがある状態のモックアップやプロトタイプづくりから簡単な修正まで承れます。基本的な作業スタンス、チェックブラウザにつきましては、コーディングポリシーを御覧ください。また、合わせて欲しいルールなどがある場合はご相談も可能です。
        </p>
        <h3 class="mjpc-heading mjpc-heading--lv2">バックエンド</h3>
        <p class="mjpc-paragraph">
            Webサイト、Webアプリケーションに関するデザインであればPC,スマートフォン問わず一通り対応可能です。ただし、間接的なご依頼の場合、デザインの決定が難しくなりますので、ベースと鳴るデザイン、トーン&マナーがFIXしたあとにご依頼いただく形が安全です。
        </p>
        <h3 class="mjpc-heading mjpc-heading--lv2">デザイン</h3>
        <p class="mjpc-paragraph">
            Webサイト、Webアプリケーションに関するデザインであればPC,スマートフォン問わず一通り対応可能です。ただし、間接的なご依頼の場合、デザインの決定が難しくなりますので、ベースと鳴るデザイン、トーン&マナーがFIXしたあとにご依頼いただく形が安全です。
        </p>
        <h3 class="mjpc-heading mjpc-heading--lv2">CMS</h3>
        <p class="mjpc-paragraph">
            Webサイト、Webアプリケーションに関するデザインであればPC,スマートフォン問わず一通り対応可能です。ただし、間接的なご依頼の場合、デザインの決定が難しくなりますので、ベースと鳴るデザイン、トーン&マナーがFIXしたあとにご依頼いただく形が安全です。
        </p>
        <h3 class="mjpc-heading mjpc-heading--lv2">使用アプリケーション</h3>
        <p class="mjpc-paragraph">
            Webサイト、Webアプリケーションに関するデザインであればPC,スマートフォン問わず一通り対応可能です。ただし、間接的なご依頼の場合、デザインの決定が難しくなりますので、ベースと鳴るデザイン、トーン&マナーがFIXしたあとにご依頼いただく形が安全です。
        </p>
        <p class="mjpc-paragraph mjpu-taCenter">
            法人の方・個人の方問わず承っております、<br>
            まずはお気軽にご相談ください。
        </p>
        <%- include(srcPath + 'objects/components/button', {data: [
        {
        link: true,
        name: 'サイト制作のご相談はこちら',
        func: 'contact'
        }
        ]}); %>
    </main>
    <%- include(srcPath + 'partials/footer', {
    next: {
    name: "制作実績",
    link: "/works/"
    }
    }); %>
</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>