<%
var srcPath = '../../';
%>
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>制作実績 | <%= site.title %></title>
    <%- include(srcPath + 'partials/head'); %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<%- include(srcPath + 'partials/icons'); %>
<div class="mjpl-page">
    <%- include(srcPath + 'partials/header'); %>
    <div class="mjpl-content">
        <main id="app">
            <%- include(srcPath + 'objects/components/heading', {datas: [{
            items: [{
            lv: 1,
            tag: 1,
            name: '制作実績',
            utility: 'mjpu-taCenter'
            }]
            }]}); %>
            <p class="mjpc-paragraph mjpu-fsS mjpu-taCenter">クライアント名は伏せさせていただいております。</p>
            <%- include(srcPath + 'objects/components/tag', {datas: [{
            modifier: 'toggle',
            items: [
            { name: 'Webデザイン' },
            { name: 'フロントエンド構築' },
            { name: 'バックエンド構築'},
            { name: 'ロゴデザイン' },
            { name: '名刺デザイン' }
            ]}]}); %>
            <%- include(srcPath + 'objects/components/heading', {datas: [{
            items: [{
            lv: 2,
            tag: 2,
            name: 2020
            }]
            }]}); %>
            <div class="mjpp-workAccordion">
                <div aria-expanded="false" aria-controls="workAccordionContent0" id="workAccordionTrigger0" class="mjpp-workAccordion__trigger">
                    <figure class="mjpp-workAccordion__figure"><img src="/img/dummy-600x400.png" alt=""></figure>
                    <div class="mjpp-workAccordion__text"><h2 class="mjpc-heading mjpc-heading--lv3"><span class="mjpc-heading__text">ユーザー管理サービスUIリニューアル</span></h2>
                        <div class="mjpc-tag mjpc-tag--status"><i class="mjpc-icon mjpc-icon--tag">
                                <svg class="mjpc-icon__image" width="16" height="16">
                                    <use xlink:href="#mjpc-icon--tag"></use>
                                </svg>
                            </i>
                            <ul class="mjpc-tag__inner">
                                <li class="mjpc-tag__item"><span class="mjpc-tag__label is-active">Webデザイン</span></li>
                                <li class="mjpc-tag__item"><span class="mjpc-tag__label">フロントエンド構築</span></li>
                                <li class="mjpc-tag__item"><span class="mjpc-tag__label">バックエンド構築</span></li>
                            </ul>
                        </div>
                        <p class="mjpc-paragraph">3Dパースモデリングの集客を目的としたランディングページのデザイン。</p>
                    </div>
                    <i class="mjpc-icon mjpc-icon--arrowTop">
                        <svg class="mjpc-icon__image" width="16" height="16">
                            <use xlink:href="#mjpc-icon--arrowTop"></use>
                        </svg>
                    </i>
                </div>
                <div role="region" aria-labelledby="workAccordionTrigger0" id="workAccordionContent0" class="mjpp-workAccordion__content">
                    <div class="mjpp-workAccordion__contentInner">
                        <div class="mjpc-grid">
                            <div class="mjpc-grid__inner">
                                <div class="mjpc-grid__col6">
                                    <h3 class="mjpc-heading mjpc-heading--lv3"><i class="mjpc-icon mjpc-icon--team">
                                            <svg class="mjpc-icon__image" width="16" height="16">
                                                <use xlink:href="#mjpc-icon--team"></use>
                                            </svg>
                                        </i><span class="mjpc-heading__text">チーム編成</span></h3>
                                    <div class="mjpp-tabRuler">
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">ディレクター</dt>
                                            <dd class="mjpp-tabRuler__description">1名</dd>
                                        </dl>
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">デザイナー<i class="mjpc-mark">参画</i></dt>
                                            <dd class="mjpp-tabRuler__description">1名</dd>
                                        </dl>
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">フロントエンド開発<i class="mjpc-mark">参画</i></dt>
                                            <dd class="mjpp-tabRuler__description">1名</dd>
                                        </dl>
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">バックエンド開発<i class="mjpc-mark">参画</i></dt>
                                            <dd class="mjpp-tabRuler__description">3名</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mjpc-grid__col6">
                                    <h3 class="mjpc-heading mjpc-heading--lv3"><i class="mjpc-icon mjpc-icon--laptop">
                                            <svg class="mjpc-icon__image" width="16" height="16">
                                                <use xlink:href="#mjpc-icon--laptop"></use>
                                            </svg>
                                        </i><span class="mjpc-heading__text">アプリケーション</span></h3>
                                    <div class="mjpc-tag mjpc-tag--images">
                                        <ul class="mjpc-tag__inner">
                                            <li class="mjpc-tag__item"><img src="/assets/img/icon-figma.svg" alt="figma" class="mjpc-tag__image"></li>
                                            <li class="mjpc-tag__item"><img src="/assets/img/icon-xd.svg" alt="Adobe XD" class="mjpc-tag__image"></li>
                                            <li class="mjpc-tag__item"><img src="/assets/img/icon-illustrator.svg" alt="Adobe Illustrator" class="mjpc-tag__image"></li>
                                            <li class="mjpc-tag__item"><img src="/assets/img/icon-intellij.svg" alt="Intellij IDEA" class="mjpc-tag__image"></li>
                                        </ul>
                                    </div>
                                    <h3 class="mjpc-heading mjpc-heading--lv3"><i class="mjpc-icon mjpc-icon--htmltag">
                                            <svg class="mjpc-icon__image" width="16" height="16">
                                                <use xlink:href="#mjpc-icon--htmltag"></use>
                                            </svg>
                                        </i><span class="mjpc-heading__text">言語・フレームワーク</span></h3>
                                    <div class="mjpc-tag">
                                        <ul class="mjpc-tag__inner">
                                            <li class="mjpc-tag__item"><span class="mjpc-tag__label">HTML</span></li>
                                            <li class="mjpc-tag__item"><span class="mjpc-tag__label">CSS</span></li>
                                            <li class="mjpc-tag__item"><span class="mjpc-tag__label">EJS</span></li>
                                            <li class="mjpc-tag__item"><span class="mjpc-tag__label">SCSS</span></li>
                                            <li class="mjpc-tag__item"><span class="mjpc-tag__label">Javascript</span></li>
                                            <li class="mjpc-tag__item"><span class="mjpc-tag__label">PHP</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="mjpc-heading mjpc-heading--lv3"><i class="mjpc-icon mjpc-icon--pen">
                                <svg class="mjpc-icon__image" width="16" height="16">
                                    <use xlink:href="#mjpc-icon--pen"></use>
                                </svg>
                            </i><span class="mjpc-heading__text">概要</span></h3>
                        <p class="mjpc-paragraph">3Dパースモデリングの集客を目的としたランディングページのデザイン。3Dパースモデリングの集客を目的としたランディングページのデザイン。3Dパースモデリングの集客を目的としたランディングページのデザイン。</p></div>
                </div>
            </div>
            <div class="mjpp-workAccordion">
                <div aria-expanded="false" aria-controls="workAccordionContent0" id="workAccordionTrigger0" class="mjpp-workAccordion__trigger">
                    <figure class="mjpp-workAccordion__figure">
                        <img src="/img/dummy-600x400.png" alt="">
                    </figure>
                    <div class="mjpp-workAccordion__text">
                        <%- include(srcPath + 'objects/components/heading', {datas: [{
                        items: [{
                        lv: 3,
                        tag: 2,
                        name: 'ユーザー管理サービスUIリニューアル'
                        }]
                        }]}); %>
                        <%- include(srcPath + 'objects/components/tag', {datas: [{
                        modifier: 'status',
                        items: [
                        { name: 'Webデザイン', active: true },
                        { name: 'フロントエンド構築', active: false },
                        { name: 'バックエンド構築', active: false }
                        ],
                        icon: 'tag'
                        }]}); %>
                        <p class="mjpc-paragraph">
                            3Dパースモデリングの集客を目的としたランディングページのデザイン。
                        </p>
                    </div>
                    <%- include(srcPath + 'objects/components/icon', {datas: [{items: [{name: 'arrowTop'}]}]}); %>
                </div>
                <div role="region" aria-labelledby="workAccordionTrigger0" id="workAccordionContent0" class="mjpp-workAccordion__content">
                    <div class="mjpp-workAccordion__contentInner">
                        <div class="mjpc-grid">
                            <div class="mjpc-grid__inner">
                                <div class="mjpc-grid__col6">
                                    <%- include(srcPath + 'objects/components/heading', {datas: [{
                                    items: [{
                                    lv: 3,
                                    tag: 3,
                                    name: 'チーム編成',
                                    icon: 'team'
                                    }]
                                    }]}); %>
                                    <div class="mjpp-tabRuler">
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">ディレクター</dt>
                                            <dd class="mjpp-tabRuler__description">1名</dd>
                                        </dl>
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">デザイナー<i class="mjpc-mark">参画</i></dt>
                                            <dd class="mjpp-tabRuler__description">1名</dd>
                                        </dl>
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">フロントエンド開発<i class="mjpc-mark">参画</i></dt>
                                            <dd class="mjpp-tabRuler__description">1名</dd>
                                        </dl>
                                        <dl class="mjpp-tabRuler__item">
                                            <dt class="mjpp-tabRuler__title">バックエンド開発<i class="mjpc-mark">参画</i></dt>
                                            <dd class="mjpp-tabRuler__description">3名</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="mjpc-grid__col6">
                                    <%- include(srcPath + 'objects/components/heading', {datas: [{
                                    items: [{
                                    lv: 3,
                                    tag: 3,
                                    name: 'アプリケーション',
                                    icon: 'laptop'
                                    }]
                                    }]}); %>
                                    <%- include(srcPath + 'objects/components/tag', {datas: [{
                                    modifier: 'images',
                                    items: [
                                    { name: 'figma', image: '/assets/img/icon-figma.svg' },
                                    { name: 'Adobe XD', image: '/assets/img/icon-xd.svg' },
                                    { name: 'Adobe Illustrator', image: '/assets/img/icon-illustrator.svg' },
                                    { name: 'Intellij IDEA', image: '/assets/img/icon-intellij.svg' }
                                    ]
                                    }]}); %>
                                    <%- include(srcPath + 'objects/components/heading', {datas: [{
                                    items: [{
                                    lv: 3,
                                    tag: 3,
                                    name: '言語・フレームワーク',
                                    icon: 'htmltag'
                                    }]
                                    }]}); %>
                                    <%- include(srcPath + 'objects/components/tag', {datas: [{
                                    items: [
                                    { name: 'HTML' },
                                    { name: 'CSS' },
                                    { name: 'EJS' },
                                    { name: 'SCSS' },
                                    { name: 'Javascript' },
                                    { name: 'PHP' }
                                    ]}]}); %>
                                </div>
                            </div>
                        </div>
                        <%- include(srcPath + 'objects/components/heading', {datas: [{
                        items: [{
                        lv: 3,
                        tag: 3,
                        name: '概要',
                        icon: 'pen'
                        }]
                        }]}); %>
                        <p class="mjpc-paragraph">
                            3Dパースモデリングの集客を目的としたランディングページのデザイン。3Dパースモデリングの集客を目的としたランディングページのデザイン。3Dパースモデリングの集客を目的としたランディングページのデザイン。
                        </p>
                    </div>
                </div>
            </div>
            <%- include(srcPath + 'objects/components/heading', {datas: [{
            items: [{
            lv: 2,
            tag: 2,
            name: 2019
            }]
            }]}); %>
        </main>
    </div>
    <%- include(srcPath + 'partials/footer', {
    next: {
    name: "お問い合わせ",
    link: "/contact/"
    }
    }); %>
</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>