<%
var srcPath = '../../';
%>
<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>制作実績 | monoweb.jp</title>
    <%- include(srcPath + 'partials/head'); %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div class="mjpl-page">
    <%- include(srcPath + 'partials/header'); %>
    <div class="mjpl-content">
        <main id="app">
            <%- include(srcPath + 'objects/components/heading', {data: [{
            lv: 1,
            tag: 1,
            name: '制作実績',
            utility: 'mjpu-taCenter'
            }]}); %>
            <p class="mjpc-paragraph mjpu-fsS mjpu-taCenter">クライアント名は伏せさせていただいております。</p>
            <%- include(srcPath + 'objects/components/tagToggle', {data: [
            {
            name: 'Webデザイン'
            }, {
            name: 'フロントエンド構築'
            }, {
            name: 'バックエンド構築'
            }, {
            name: 'ロゴデザイン'
            }, {
            name: '名刺デザイン'
            }
            ]}); %>
            <%- include(srcPath + 'objects/components/heading', {data: [
            {
            lv: 2,
            tag: 2,
            name: 2020
            }
            ]}); %>
            <div class="mjpp-workAccordion">
                <div aria-expanded="true" aria-controls="workAccordionContent0" id="workAccordionTrigger0" class="mjpp-workAccordion__trigger">
                    <figure class="mjpp-workAccordion__figure">
                        <img src="/img/dummy-600x400.png" alt="">
                    </figure>
                    <div class="mjpp-workAccordion__text">
                        <%- include(srcPath + 'objects/components/heading', {data: [
                        {
                        lv: 3,
                        tag: 2,
                        name: 'ユーザー管理サービスUIリニューアル'
                        }
                        ]}); %>
                        <%- include(srcPath + 'objects/components/tag', {data: [
                        {
                        name: 'Webデザイン'
                        }, {
                        name: 'フロントエンド構築'
                        }, {
                        name: 'バックエンド構築'
                        }
                        ]}); %>
                        <p class="mjpc-paragraph">
                            3Dパースモデリングの集客を目的としたランディングページのデザイン。
                        </p>
                    </div>
                </div>
                <div role="region" aria-labelledby="workAccordionTrigger0" id="workAccordionContent0" class="mjpp-workAccordion__content">
                    <div class="mjpc-grid">
                        <div class="mjpc-grid__inner">
                            <div class="mjpc-grid__col6">
                                <%- include(srcPath + 'objects/components/heading', {data: [
                                {
                                lv: 3,
                                tag: 3,
                                name: 'チーム編成'
                                }
                                ]}); %>
                                <div class="mjpp-tabRuler">
                                    <dl class="mjpp-tabRuler__item">
                                        <dt class="mjpp-tabRuler__title">ディレクター</dt>
                                        <dd class="mjpp-tabRuler__description">1名</dd>
                                    </dl>
                                    <dl class="mjpp-tabRuler__item">
                                        <dt class="mjpp-tabRuler__title">デザイナー</dt>
                                        <dd class="mjpp-tabRuler__description">1名</dd>
                                    </dl>
                                    <dl class="mjpp-tabRuler__item">
                                        <dt class="mjpp-tabRuler__title">フロントエンド開発</dt>
                                        <dd class="mjpp-tabRuler__description">1名</dd>
                                    </dl>
                                    <dl class="mjpp-tabRuler__item">
                                        <dt class="mjpp-tabRuler__title">バックエンド開発</dt>
                                        <dd class="mjpp-tabRuler__description">3名</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="mjpc-grid__col6">
                                <%- include(srcPath + 'objects/components/heading', {data: [
                                {
                                lv: 3,
                                tag: 3,
                                name: 'アプリケーション'
                                }
                                ]}); %>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <%- include(srcPath + 'objects/components/heading', {data: [
                                {
                                lv: 3,
                                tag: 3,
                                name: '言語・フレームワーク'
                                }
                                ]}); %>
                                <%- include(srcPath + 'objects/components/tag', {data: [
                                {
                                name: 'HTML'
                                }, {
                                name: 'CSS'
                                }, {
                                name: 'EJS'
                                }, {
                                name: 'SCSS'
                                }, {
                                name: 'Javascript'
                                }, {
                                name: 'PHP'
                                }
                                ]}); %>
                            </div>
                        </div>
                    </div>
                    <%- include(srcPath + 'objects/components/heading', {data: [
                    {
                    lv: 3,
                    tag: 3,
                    name: '概要'
                    }
                    ]}); %>
                    <p class="mjpc-paragraph">
                        3Dパースモデリングの集客を目的としたランディングページのデザイン。3Dパースモデリングの集客を目的としたランディングページのデザイン。3Dパースモデリングの集客を目的としたランディングページのデザイン。
                    </p>
                </div>
            </div>
            <%- include(srcPath + 'objects/components/heading', {data: [
            {
            lv: 2,
            tag: 2,
            name: 2019
            }
            ]}); %>
        </main>
    </div>
    <%- include(srcPath + 'partials/footer', {
    next: {
    name: "お問い合わせ",
    link: "/contact/"
    }
    }); %>
</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>